:root {
  --col-width: 300px;
}

ul {
  padding-left: 0;
}

.App {
  font-family: Helvetica, sans-serif;
}

.AppHeader {
  padding: 40px 20px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.AppHeaderText {
  width: min(calc(2 * var(--col-width)), 100%);
}

.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.DeckAndDiscardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.DeckContainer {
  width: var(--col-width);
}

.DiscardContainer {
  width: var(--col-width);
}

.CityCount {
  list-style-type: none;
  margin: 4px 0;
  padding: 4px 12px;
  width: var(--col-width);
}

.Yellow {
  border-left-color: #FECB49;
}

.Blue {
  border-left-color: #4891FF;
}

.Hollow {
  border-left-color: #777;
}

.ColorSection {
  border-left-width: 8px;
  border-left-style: solid;
  margin-bottom: 8px;
}

.CanDraw {
  cursor: pointer;
}

.CanDraw:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.CityCountText {
  display: inline;
  margin-right: 8px;
}

.ActionButton {
  margin-right: 12px;
  display: inline;
}

.divider {
  width: calc(var(--col-width) - 40px);
  height: 1px;
  background-color: #dedede;
}